/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

#container{
    min-width: 340px;
    max-width: 1440px;
    margin:0 auto;
    padding:0 20px;
    display: flex;
    flex-direction: column;
}

body {
    width: 100%; 
}

a {
    color: inherit;
    text-decoration: none;
}

h1{
    margin:0;
    font-size: 22px;
    font-weight: 700;
}

h2{
    margin:0;
    font-size: 22px;
    font-weight: 700;
}

h3{
    margin:0;
    font-size: 16px;
    font-weight: 700;
}

p{
    margin:0;
}

.police-gras{
    font-size: 18px;
    font-weight: 700;
}

/***Mise en forme du header***/
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header img {
    width: 61px;
    height: 19px;
}

/***Mise en forme de la navigation***/
nav{
    display: flex;
    justify-content: space-around;
}

.menu{
    padding: 0px;
    margin:0px;
    display: flex;
    justify-content: space-between;
}

.element-menu {
    display: inline-block;
    width: 112px;
    padding: 10px 0;
}

.item-menu{
    display: flex;
    justify-content: center;
}

.texte-menu{
    border-top: 2px solid white;
}
/*Mise en forme au passage du curseur*/
.texte-menu:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

/***Mise en forme des différentes sections***/
.main-container {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

.recherche{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.intro-recherche{
    margin-bottom: 20px;
}
/***Création barre de recherche***/
.module-recherche{
    display: flex;
    width: 377px;
    height: 49px;
    border: 1px solid var(--main-bg-color);
    border-radius: 10px;
    margin:20px 0;
}
 
.icone-recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    color: black;
    width: 50px;
    height: 49px;
    background-color: var(--main-bg-color);
    border-radius: 10px 0px 0px 10px;
}

.barre-recherche {
    border: none;
    height: 49px;
    width: 195px;
}

.bouton-recherche{
    color:white;
    background-color: var(--main-color);
    width: 132px;
    height: 49px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    display: block;
}

.bouton-recherche-tel{
    display:none;
}

/****Mise en forme filtre de recherche***/
.filtre-recherche {
    display: flex;
    width:70%;
    gap:15px;
    
}

.filtre {
    display: flex;
    align-items: center;
}

.element-filtre{
    display: flex;
    gap:15px;
    width:100%;
    padding-left: 10px;
}

.logo-filtre {
    display: flex;
    color: var(--main-color);
    font-weight: 700;
    font-size: 17px;
}

.item-filtre{
    display: flex;
    font-weight: 700;
    font-size: 17px;
}

.lien-filtre{
    display: flex;
    align-items: center;
    height: 50px;
    column-gap: 10px;
    margin-left: 10px;  
}

.choix-filtre {
    display: flex;
    padding: 10px 20px;
    border-radius: 35px;
    border: 2px solid var(--main-bg-color);
    width: 100%;
}

.choix-filtre:hover{
    background-color: rgba(0,101,252,0.1);
}

/***information résultat recherche***/
.resultat-recherche {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo-info {
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: var(--main-color);
    border: 2px solid var(--main-bg-color);
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.resultat-recherche .texte-section{
    display: flex;
    margin-left:10px;
}

/****** Hebergement et Populaire ***********/
.hebergement-et-populaire {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.notation {
    margin: 5px 0;
    color: var(--main-color)
}

.hebergement-et-populaire .section-titre {
    margin-top: 10px;
    margin-bottom: 5px;
}

.lien-carte{
    padding: 0px;
    display: block;
    justify-content: space-between;
    width: 30%;
}

.nom-hebergement {
    margin-top: 10px;
    margin-bottom: 5px;
}

.tarif-hebergement {
    margin: 0;
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergement ***********/
.hebergement {
    width: 65%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

.hebergement-titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resultat-hebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.carte-hebergement {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 210px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}

.carte-hebergement img {
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.detail-hebergement {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.afficher-plus{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

.lien-vers-plus:hover {
    color: var(--main-color)
}

/****** Populaire ***********/
.populaire {
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

.populaire-titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carte-populaire {
    display: flex;
    margin-top: 33px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.carte-populaire img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.detail-populaire {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*********Activites*********/
.activite {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
}

.lien-activite{
    padding: 0px;
    display: flex;
    justify-content: space-between;
    width: 22%;
}

.activite-titre {
    display: flex;
}

.resultat-activite {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
}

.carte-activite img {
    height: 375px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.carte-activite {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 439px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
}

.texte-activite {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nom-activite {
    margin-top: 10px;
    margin-bottom: 4px;
}

footer {
        width: 100%;
        display: flex;
        background-color: var(--main-bg-color);
}

.section-footer {
    display: block;
    width: 100%;
}

.footer-titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px;
}

.liste-footer p{
    margin:10px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .filtre-recherche{
        flex-direction: column;
        justify-content: flex-start;
        gap:0;
        width:80%;
    }
    
    .filtre{
        padding-top: 20px;
    }

    .element-filtre{
        padding-left: 0px;
    }

    .item-filtre{
        font-size: 16px;
    }

    .hebergement-et-populaire {
        flex-direction: column;
    }

    .hebergement {
        width: 100%;
    }

    .populaire {
        width: 100%;
        margin-top: 50px;
    }

    .resultat-populaire {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .resultat-populaire a {
        width: 30%;
    }

    .activite{
        width: 100%;
    }

    .carte-activite img {
        height:200px;
    }

    .carte-activite{
        height:280px;
    }

    .texte-activite{
        height:70px;
        padding:10px 15px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    #container{
        margin:0;
        padding:0;
    }

    header {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
    }

    header img{
        margin:30px;
    }
    nav{
        width: 100%;
    }

    .menu{
        width: 100%;
    }

    .element-menu{
        border-top: none;
        border-bottom: 2px solid var(--main-bg-color);
        width: 100%;
        justify-content: center;
    }

    .item-menu{
        justify-content: center;
    }

    .element-menu:hover{
        border-top: none;
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
    }

    .texte-menu:hover{
        border-top:none;
    }

    .recherche{
        margin:20px 20px 0 20px;
    }

    .module-recherche{
        width:335px;
    }

    .barre-recherche{
        width:236px;
    }

    .bouton-recherche{
        display: none;
    }

    .bouton-recherche-tel{
        display: block;
        width: 49px;
        height: 49px;
        background-color: var(--main-color);
        color: white;
        border: none;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    }

    .filtre-recherche{
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    
    .filtre{
        padding-top: 20px;
    }

    .element-filtre{
        flex-wrap: wrap;
        padding-left:0px;
        margin: 5px;
        gap:5px;
    }

    .choix-filtre{
        margin: 5px;
        padding:10px 5px;
        font-size: 14px;
        font-weight: 700;
        width:45%;
    }

    .item-filtre{
        font-size: 14px;
    }

    .hebergement-et-populaire {
        flex-direction: column-reverse;
    }

    .hebergement {
        width: 100%;
        background-color: white;
        padding: 15px;
    }

    .resultat-hebergement{
        row-gap: 15px;
    }

    .lien-carte{
        width: 100%;
    }

    .populaire {
        width: 100%;
        padding: 15px;
        border-radius: 0;
    }

    .resultat-populaire {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .carte-populaire{
        margin-top: 15px;
    }

    .activite{
        padding: 15px;
        margin:20px 0;
        width: 100%;
    }

    .resultat-activite {
        row-gap: 10px;
        flex-direction: column;
    }

    .lien-activite{
        width: 100%;
    }

    .carte-activite img{
        max-height: 150px;
    }

    .carte-activite{
        height: auto;
    }

    .texte-activite{
        height:50px;
    }
    footer {
        flex-direction: column;
    }

    .section-footer{
        width: 100%;
    }
}